!!! XML
!!!
%html
  /
    Hi,
    I'm just writing this for the stupid people who are going to see my html code like you.
    
    I hate writing markup language. I hate HTML, I hate XML, and (of course) I hate php.
    It's just my feeling, I never hate people who loves them, but I cannot stand anymore.
    Therefore, I decided that I use this extremely simple html structure as my blog platform.
    header, navs, contents, and footers. Nothing else.
    This simple html will never make me mad by pagination, link navigation, box layout, 
    element wrappers, or other user interface related problems.
    
    I know I'm lazy man, but I also didn't want to type any blacket symbols. Any, blackets.
    Is it possible? Yes. Some Ruby scripts, haml and Sass template, markdown and BlueCloth..
    Now a lot of tools rescue me from the markup-lang hell. I'm so happy. Yay!
    
    Well, I just wanted to write some wired text, so I need a platform, then I create.
    I don't need rich contents like beautiful images, cool visualizations, or high-resolution videos.
    But looks cool, right?
    
    Still want to see the code? OK, go ahead, and enjoy (It should not be worth, though).
    
    Fuck off IE6,
    Tazro
    
    fonts by Jos Buivenga (exljbris). Thanks! -> www.exljbris.com
    

  %head
    %title handmade yellow
    %meta{ :charset => "utf-8" }
    %link{ :rel => :stylesheet, :href => "./hmy_style.css", :type => "text/css" }
    %link{ :rel => :stylesheet, :href => "http://floating-fog-3562.heroku.com/fontin_sans.css", :type => "text/css" }
    %link{ :rel => :alternate, :href => "http://inutano.github.com/rss/index.rdf", :type => "application/rss+xml" }
    
  %body
    %header
      %h1
        %a{ :href => "/" }
          handmade yellow
      %h3
        %a{ :href => "http://github.com/inutano" }
          inutano.github.com
    
    %nav
      %a{ :href => "http://twitter.com/iNut" }
        twitter
      %a{ :href => "http://inut.tumblr.com/" }
        tumblr
      %a{ :href => "http://about.me/tazro.ohta" }
        about.me
      
    %section{ :id => "contents" }
      REPLACE HERE
    
    %footer
      all contents by Tazro Inutano Ohta, licensed under CC-BY 2.1 JP
