!!! XML
!!!
%html
  %head
    %title handmade yellow
    %meta{ :charset => "utf-8" }
    %link{ :rel => :stylesheet, :href => "./hmy_style.css", :type => "text/css" }
    
  %body
    %header
      %h1
        %a{ :href => "/" }
          handmade yellow
      %h2
        %a{ :href => "http://github.com/inutano" }
          inutano.github.com
    
    %nav
      %a{ :href => "http://twitter.com/iNut" }
        twitter
      %a{ :href => "http://inut.tumblr.com/" }
        tumblr
      %a{ :href => "http://about.me/tazro.ohta" }
        about.me
      
    %section{ :id => "contents" }
      REPLACE HERE
    
    %footer
      all contents by Tazro Inutano Ohta, licensed under CC-BY 2.1 JP
